.alert {
  display: flex;
  align-items: flex-start;
  padding: $alert-padding-y $alert-padding-x;
  border: 1px solid $black;
  border-radius: $alert-border-radius;
  word-wrap: break-word;

  & &-content {
    min-width: 0px;
    flex: 1;
  }

  & &-title.bold {
    font-weight: $font-weight-bold;
  }

  & &-desc {
    font-size: $font-size-sm;
    margin: 0.3rem 0 0;
  }

  & &-close {
    margin: $alert-close-margin;
    cursor: pointer;
  }
}

.alert-success {
  @include button-style($success, $success, $white, $success, $success);
}

.alert-default {
  @include button-style($primary, $primary, $white, $primary, $primary);
}

.alert-danger {
  @include button-style($danger, $danger, $white, $danger, $danger);
}

.alert-warning {
  @include button-style($warning, $warning, $white, $warning, $warning);
}
